pandas
sqlalchemy
psycopg2-binary
mlflow
python-dotenv
xgboost
scikit-learn
matplotlib
joblib
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
langchain-google-genai
langchain
google-generativeai
langchain-chroma chromadb
pip install torchvision